:root {
    --font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px 30px 30px 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;  
}

.navbar .left{
    font-size: 25px;
    font-weight: bold;
} 

.bar1, 
.bar2, 
.bar3 {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.navbar .hamburger {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
}

.navbar .hamburger:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .left{
        font-size: 18px;
        align-items: flex-start;
    }

    .navbar .hamburger {
        justify-content: flex-start;
    }
}

.animateBar1 {
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2  0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3  0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(4px, 10px);
    }  
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }  
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(4px, -10px);
    }  
}


.mobileNav {
    width: 100%;
    opacity: 0.97;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    background-color: black;    

    transition: transform 0.1s ease-in-out;
}

.openDrawer {
    transform: translateX(-100%);
}

.mobileNav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 16px 0;
    padding: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.mobileNav a:hover{
    text-decoration: underline;
} 
